# don't include these files
*.gz
*.log
.editorconfig
.eslintrc.json
.prettierrc.json
jest*.json
tsconfig.json
# don't include these folders
.devcontainer/
.github/
.history/
.vscode/
dist/tests/
DOCs/
LogFiles/
REF/
scripts/
src/
TEST/
