# don't include these files
*.gz
*.tgz
*.zip
*.log
.editorconfig
.eslintrc.json
.prettierrc.json
pkg-json-REF.txt
exceptions-list.ts.txt
BUILD-RUN.md
Compiler.md
PKG-STUDY.md
.jest*.json
jest*.json
tsconfig.json
babel.config.js
jest.config.ts
old.*
smm.*
# don't include these folders
scripts-pkg/
.devcontainer/
jest-*/
.github/
.history/
.vscode/
dist/
DOCs/
jest-config/
LogFiles/
pkgs*/
nexe-config/
REF/
RESULTS/
scripts/
src/
TEST/
# get contents from here
!out
